body{
    font-family:Arial;
    margin:0;
    padding:20px;
    background-color:#f1f1f1;
}
#header{
    width: 100%;
    height: 10vh;
    background-image:url( images/background1.webp);
    background-size:cover;
    background-position: center;
    
}
.container
{
    padding:10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo{
    width: 140px;
}
nav ul li
{
    display: inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color: #070707;
    text-decoration: none;
    font-size:18px;
    position:relative;
}
 nav ul li a::after{
    content:'';
    width: 0;
    height:3px;
    background:#69f5ff;
    position:absolute;
    left: 0;
    bottom:-6px;
    transition:0.5s;
 }
 nav ul li a:hover::after{
    width:100%;
     }
 
*{
    box-sizing: border-box;
}
.row:after{
    content:'';
    display:table;
    clear: both;
}

header h1{
    text-align:center;
    font-size:60px;
    color:#000000;
    margin:1.5 0px;
}
h2{
    color:#000000;
    margin:1.5 0px;
}
.left-column{
     float:left;
     width:75%;
}
.right-column{
    width:25%;
    float:right;
   
}
.card{
    padding:20px;
    background-color:#ffffff;
    margin-top:20px;
}
.card img{
 width: 100%;
}
.right-column .card img{
    margin-bottom: 10px;
}
/*----------contact--------------*/
.contact-left{
    flex-basis:35%;
 }
 .contact-right{
    flex-basis:60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color:#16F7C8;
    margin-right:15px;
    font-size:25px;
 }
 .social-icons{
    margin-top: 30px;
 }
 .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display:inline-block;
 }
 .btn.btn2{
    display:inline-block;
    background:#16F7C8;;
 }  
 .contact-right form{
    width:100%;
 }
 form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px;
    color:#fff;
    font-size:18px;
    border-radius: 6px; 
 }
 form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
 }
 .copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:#656262;
    font-weight: 300;
    margin-top:20px;
 }
 .copyright i{
     color:#c6bdbd;
 }